<div>
<!--   <h1>
    clicks: {{ JSON.stringify(status.clicks) }}
  </h1>

  <h1>
    commission: {{ JSON.stringify(status.commission) }}
  </h1>

  <h1>
    dateRange: {{ JSON.stringify(status.dateRange) }}
  </h1>
 -->

  <h1 class="page-title"> Admin Dashboard
    <small>statistics, charts, recent events and reports</small>
  </h1>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="">{{ JSON.stringify(status.clicks) }}</span>
          </div>
          <div class="desc"> clicks </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="">{{ JSON.stringify(status.commission) }}</span>
          </div>
          <div class="desc"> commission </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="">{{ JSON.stringify(status.dateRange) }}</span>
          </div>
          <div class="desc"> dateRange </div>
        </div>
      </a>
    </div>
  </div>
</div>
